.loader {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  background-color: black;
  overflow: hidden;
  z-index: 2;

  &__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    position: fixed;
    inset: 0;
    overflow: hidden;
  }

  &__words {
    position: relative;
    overflow: hidden;
    text-align: right;
    color: white;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    height: 100%;
    z-index: 2;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9) 45%,
      transparent,
      transparent 45%,
      transparent,
      transparent 58%,
      rgba(0, 0, 0, 0.9) 50%,
      rgba(0, 0, 0, 0.9)
    );
  }

  &__word {
    display: block;
    font-size: 3.05rem;
  }

  &__progressWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5vh;
    width: 100%;
    z-index: 3;
  }

  &__progress {
    height: 100%;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left center;
  }

  &__progressNumber {
    position: absolute;
    left: -5vw;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    white-space: nowrap;
    color: white;
    font-size: 3.2rem;
  }

  /* Media queries for responsiveness */
  @media (max-width: 576px) {
    /* Small devices (phones) */
    .loader {
      &__word {
        font-size: 2rem;
      }

      &__progressNumber {
        font-size: 2.2rem;
        left: -3vw;
      }
    }
  }

  @media (min-width: 577px) and (max-width: 992px) {
    /* Medium devices (tablets) */
    .loader {
      &__word {
        font-size: 2.5rem;
      }

      &__progressNumber {
        font-size: 2.8rem;
        left: -4vw;
      }
    }
  }

  @media (min-width: 993px) {
    /* Large devices (desktops) */
    .loader {
      &__word {
        font-size: 3.05rem;
      }

      &__progressNumber {
        font-size: 3.2rem;
        left: -5vw;
      }
    }
  }
}
